{% extends "layout.html" %}
{% block body %}
<title>Register</title>
<div class="jumbotron text-center">
     <div>
        <!-- <div class="col-xs-12 col-md-3">
        </div>
        <div class="col-xs-12 col-md-6"> -->
            
            <form action="{{ url_for("register") }}" method="POST">
                <h5>Please Register Here...</h5>
                <input type="text" name="username" class="form-control" placeholder="Username">
                <input type="email" name="email" class="form-control" placeholder="e-mail">
                <input type="password" name="password" class="form-control" placeholder="Password">
                <input type="password" name="password_confirm" class="form-control" placeholder="Confirm Password">
                <button type="submit" class="btn btn-md btn-info btn-block btn-blue">Sign up</button>
            </form>
            
        <!-- </div> 
        <div class="col-xs-12 col-md-3">
        </div>
     </div>  -->
</div><!--jumbotron text-center-->
{% endblock %}

