{% extends "layout.html" %}
{% block body %}
	<div class="jumbotron text-center">
        <h4>Your shopping list items</h4>
        {% if items %}
        <ol>
            {% for item in items %}
                <li>{{ item }}
                    <a href="/update_item/{{ loop.index0 }}" class="btn btn-default ">Edit</a>
                    <a href="/delete_item" class="btn btn-danger ">Delete</a>
                </li>
            {% endfor %}
        </ol> 
        <a href="/add_item">Add more items</a>
        
        {% else %}

        <span class="alert alert-info alert-sm">There are no items in your shopping list</span>
        {% endif %}
	</div>
{% endblock %}